{% extends 'main.html' %}
{% block content %}
<div>
  {% if page == 'login' %}
  <form action="" method="POST">
    {% csrf_token %}
    <label>Username:</label>
    <input type="text" name="username" placeholder="Enter username" />

    <label>Password:</label>
    <input type="password" name="password" placeholder="Enter password" />

    <input type="submit" value="Login" />
  </form>
  <br>
  <div>Haven't have an account yet ?</div>
  <a href="{% url 'home:register' %}">Sign up</a>

  {% else %}
  <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Register" />
  </form>
  <br>
  <div>Already have an account</div>
  <a href="{% url 'home:login' %}">Sign in</a>
  
  {% endif %}
</div>



{% endblock content %}